---
layout: default
title: Jobs
suppress_header: true
extra_css:
  - jobs.css
---

<div class="wrapper">
  <div class="jobs-container">
    <div class="jobs-overlay">
      <div class="jobs-content">
        <h1>Jobs</h1>
      </div>
    </div>
  </div>

  <div id="content">
    <div class="container vacancies">

      <div class="vacancy" id="dir-sales">
        <h2>Director of Sales
          <small>San Francisco</small>
        </h2>

        <p>
        Gitlab B.V. is quickly becoming more popular amongst organisations throughout
        the world to manage their source code. To keep up with our growth Gitlab B.V.
        is looking for a Director of Sales to act as our sales lead. This position will
        be responsible for Gitlab subscription deals for Fortune 500 companies and
        large governmental organizations. With tremendous inbound interest from these
        organizations, you will need to lead the sales process.
        </p>
        <p>
        Responsibilities:
        <ul>
          <li>Lead our account managers</li>
          <li>Get directly involved in deals when necessary</li>
          <li>Post-mortem analysis on wins/losses</li>
          <li>Manage and report on sales pipeline</li>
          <li>Provide input on product direction and strategy as a result of sales performance, post mortems and competitive analysis.</li>
          <li>Help marketing with developing product/content marketing materials (blog posts, white papers, product briefs, slide decks) that reflect GitLab's core value proposition, competitive advantage and market positioning</li>
        </ul>
        </p>

        <p>
        Requirements:
        <ul>
          <li>B2B sales experience</li>
          <li>Experience closing large deals ($100k+)</li>
          <li> Experience selling open source software (RedHat, MySQL, etc.) - ideally in the United States</li>
          </ul>
        </p>

        <p>
        Why work for Gitlab?
        </p>
        <p>
        Large performance bonus and/or stake in the company. If you have ambition,
        there is a growth parth towards becoming a VP of Sales.

        You will be working in our San Francisco office.
        </p>


        <h3>Contact</h3>
        <p>Interested in joining our motivated team? Send us a cover letter and your
        resume to sytse at gitlab dot com</p>

        <p>
          <small>
          Note for all recruitment agencies: GitLab B.V. does not accept agency resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="director-strategic-marketing">
        <h2>Director of Strategic Marketing
        <small>San Francisco</small></h2>

        <p>
          Gitlab B.V. is quickly becoming more popular amongst organisations throughout
          the world to manage their source code. We didn't adopt a strong
          marketing strategy, but are driven by our open core model, where
          engineers in large organisations become our evangelists from within
          after using our products for free. That got us where we are now,
          but we want to move faster and further and are looking for a director
          of strategic marketing to help us do just that.
        </p>

        <p>
          Responsibilities:
          <ul>
            <li>Lead our marketing efforts</li>
            <li>Define our short and long term marketing strategy</li>
            <li>Analysis of previous marketing efforts</li>
            <li>Develop marketing materials that reflect GitLab's value proposition, advantages and positioning</li>
            <li>Manage ad spending, targeting</li>
          </ul>
        </p>

        <h3>GitLab</h3>
        <p>
          We're barely getting started with marketing and have reached what we
          have right now just with our product and positioning. You will truly
          give direction to the way marketing will be done at GitLab for the
          coming years.

          You will be working in our new San Francisco office.
        </p>

        <p>
          Requirements:

          <ul>
            <li>Experience leading marketing in a B2B space</li>
            <li>Experience marketing open source software</li>
          </ul>
        </p>

        <h3>Contact</h3>
        <p>
          If you're up for a battle against the behemot on the market,
          send us a cover letter and your resume to sytse at
          gitlab dot com. Please include "Vacancy director strategy marketing"
          in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="senior-am">
        <h2>Senior Account Manager
          <small>San Francisco</small>
        </h2>

        <p>
          GitLab is growing fast. Coming out of Y Combinator, we want to
          conquer large enterprises that are moving to git and better software.
          To reach that goal, we are looking for a senior account manager to
          join our team.
        </p>

        <p>
          Responsibilities:
          <ul>
            <li>Take the lead in large deals</li>
            <li>Grow existing deals with our customers</li>
            <li>Manage relationships with perspective and current customers</li>
          </ul>
        </p>

        <p>
          Requirements:
          <ul>
            <li>Experience with B2B sales</li>
            <li>Experience closing large deals</li>
            <li>Bonus: experience selling open source software</li>
          </ul>
        </p>

        <h3>GitLab</h3>
        <p>
          Working for GitLab means joining a very productive, ambitious team,
          where independence is both valued and required. We work all over
          the world and like to spend time on <a href="https://about.gitlab.com/2015/04/08/the-remote-manifesto/">things that matter</a>.
          Your work will have a large impact on the present and future of
          GitLab. You will be working in our new office in San Francisco,
          but can work from home at will.
        </p>

        <h3>Contact</h3>
        <p>
          If you're up for a battle against the behemot on the market,
          send us a cover letter and your resume to sytse at
          gitlab dot com. Please include "Vacancy senior account manager"
          in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="junior-account-manager">
        <h2>Junior Account Manager
        <small>San Francisco</small> </h2>

        <p>
          For any company, large or small, GitLab is becoming the standard
          for source control management. We are looking for a
          junior account manager to help us grow even more, to even more companies.
        </p>

        <p>
          Responsibilities:
          <ul>
            <li>Manage new and existing deals with customers</li>
            <li>Grow existing deals</li>
            <li>Manage relationships with customers</li>
            <li>Work together with the sales team to conquer the world</li>
          </ul>
        </p>

        <p>
          Requirements:
          <ul>
            <li>Some experience with B2B sales</li>
            <li>Relevant background</li>
            <li>Interest in GitLab, and open source software</li>
          </ul>
        </p>

        <h3>GitLab</h3>
        <p>
          GitLab is growing fast and you can have the opportunity to grow with
          GitLab. Everyone is motivated, hard-working, honest and friendly.
          You will be required to work independent and are given flexibility
          in your work and time.
          You will be working in our new San Francisco office and can work
          from home at will.
        </p>

        <h3>Contact</h3>
        <p>
          If you're excited to sell something that also comes for free,
          send us a cover letter and your resume to sytse at
          gitlab dot com. Please include "Vacancy junior account manager"
          in your email subject.
        </p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="vacancy" id="ie">
        <h2>Interaction Engineer
          <small>Remote</small>
        </h2>

        <p>
          GitLab is looking for someone that can make GitLab look and feel even better.
          We recognize from the success of Apple and Slack that design and
          usability is as important as solid engineering.
          As interaction engineer, you will be responsible for setting a higher standard in usability and
          design in GitLab.
        </p>

        <p>
          We're looking for someone that can create mockups quickly and implement
          these themselves. You have to have an eye for clean design and understand
          what makes an application easy to use and feel good.
        </p>

        <p>
          Employees at Gitlab work independently and you will have to be responsible
          for coming up with your own improvements as well as for their full implementation,
          start to finish. In addition, we often work on a consultancy basis for customers
          and this position requires the ability to collaborate with other engineers to
          implement feeatures on request.
        </p>

        <p>
          GitLab is a booming startup, meaning there is much more work than hands
          available. As first interaction engineer, everything you do will have
          a major impact on the experience of everyone that uses GitLab: hundreds
          of thousands of organizations.
        </p>

        <p>
          We're a distributed company and much of your work will be done remotely.
          We welcome candidates from all countries between Pacific time and
          Eastern European time (North America, South America, Europe and Africa).
          Most of our customers are in the continental U.S. time zones.
          We're considering opening an office in San Francisco in the future.
        </p>

        <p>
        Responsibilities:
        <ul>
          <li>Improve screens</li>
          <li>Work with developers to improve flows</li>
          <li>Conduct user testing</li>
          <li>Create wireframes/mockups for new features</li>
        </ul>
        </p>

         <p>
         Requirements:
         <ul>
            <li>Familiar with HTML, CSS and JS.</li>
             <li>jQuery. Note: we don't use many JS libraries or frameworks, but we welcome any experience
          in one (Ember, Angular, etc). GitLab is built on Bootstrap 3.</li>
          </ul>
        </p>

        <h3>Contact</h3>
        <p>Interested in joining our motivated team?
          Send us a cover letter and your resume (including portfolio) to sytse at
          gitlab dot com</p>

        <p>
          <small>
            Note for all recruitment agencies: GitLab B.V. does not accept agency
            resumes. Please do not contact us.
          </small>
        </p>
      </div>

      <div class="title">
        <h4>If you're interested, our <a href="/team-handbook">team handbook is publicly available.</a></h4>
      </div>

    </div>
  </div>
</div>
